.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ---------------- HERO COMPONENT ---------------- */

.HERO-GRID{
  display: grid;
  grid-template-columns: 65% 35%;
  gap: 10px;
}

.HERO-GRID > div{
  height: 70vh;
}

.HERO-GRID > div:nth-child(odd){
  display: grid;
  gap: 10px;
  background-color: #DEDEDE;
}

.HERO-GRID > div:nth-child(odd):hover{
  background-color: #000000;
  color: white;
}

.HERO-GRID > div:nth-child(even){
  display: grid;
  gap: 10px;
}

.HERO-CHILDREN-GRID > div{
  background-color: #DEDEDE;
}

.HERO-CHILDREN-GRID > div:hover{
  background-color: #000000 !important; 
  color:white;
}