.textTech{
    color: #3F669B;
}

.techImg{
    height: 10vw;
    width: 10vw;
}

.techProductDiv{
    max-width: 10vw;
}

li a{
    cursor: pointer;
}

li a:hover{
    text-decoration: underline;
}

/* side navbar */
.sideNavContainer ul > li{
    list-style: none;
    padding: 5px;
    color: #3F669B;
    background-color: beige;
    
}


